* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #FFF3DA; 
}

header {
    padding: 30px;
    background-color: #435334;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.topo-logo, img {
    margin: 5px;
}
nav ul {
    list-style: none; 
    display: flex;
    padding: 30px;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 10px; 
}

nav a{
    font-size: 20px;
    text-decoration: none;
    color: #FFF3DA;
    padding: 20px;
}

.texto-conteudo h1 .texto-conteudo p {
    text-align: justify;
    padding: 5px;
    margin: 10px;
    justify-content: flex-start;
}

.texto-conteudo p, .texto-conteudo h1 {
    color: #435334;
    margin-bottom: 10px;
}

.informacoes-sobre {
    padding: 20px;
    background-color: #435334;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.informacoes-sobre h2, .informacoes-sobre p {
    text-align: center;
    color: #FAF1E4;
}

.informacoes-sobre h2 {
    padding-top: 20px;
    margin-top: 25px;
}

.rodape-web {
  text-align: center;
  color: #435334;
}

.texto-conteudo, img {
    justify-content: flex-end;
    justify-items: right;
}

.container {
  display: flex;
  flex-direction: column;
}

